@use './abstracts' as *;

.formulario {
    display: flex;
    flex-direction: column;

    .div-inputs{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 10px;

        .div-input {
            display: flex;
            flex-direction: column;

            .container-input {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }

            @media(max-width: 800px) {
                gap: 0px;
            }

            label {
                background-color: $primary-blue-0;
                padding: 5px;
                border-radius: 8px;
                color: $white-fixed;
                font-size: $font-size-1;
                font-weight: 600;
                width: 100px;

                @media(max-width: 800px) {
                    font-size: $font-size-3;
                    width: 75px;
                }
            }
            
            input {
                border: 2px solid $grey-0;
                padding: 5px;
                border-radius: 8px;
                font-size: font-size-1;
                width: 250px;
                font-weight: 600;
                outline: 2px solid transparent;
                transition: 0.2s ease;

                &::placeholder {
                    font-weight: 400;
                }
                &:focus {
                    border: 2px solid $primary-blue-0;
                    outline: 2px solid $primary-blue-0;
                    transition: 0.2s ease;
                }

                @media(max-width: 420px) {
                    width: 100%;
                }
            }

            .span-error {
                font-size: $font-size-3;
                font-weight: 600;
                margin: 5px 0px;
                color: $alert-1;
            }
        }
    }

    .link-login {
        display: flex;
        margin: 20px 0px;
        color: $grey-0;
        font-size: $font-size-1;
        font-weight: 600;
        justify-content: center;

        &:hover {
            text-decoration: underline;
        }

        @media(max-width: 400px) {
            font-size: $font-size-3;
        }
    }

    .btn-cadastro {
        background-color: $primary-blue-0;
        padding: 10px 0px;
        border-radius: 4px;
        color: $white-fixed;
        font-size: $font-size-1;
        font-weight: 600;
        transition: 0.2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        &:hover {
            background-color: $second-blue-0;
            transition: 0.2s ease;
        }

        @media(max-width: 420px) {
            font-size: $font-size-2;
            padding: 7px 0px;
        }
    }
}